@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  padding: 0;
  margin: 0;
  outline: 0;
}

.content-page {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  background-color: #ffffff;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

a:link, a:visited {
  text-decoration: none;
}

.Home {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.Home .header {
  width: calc(100vw - 100px);
  height: 100px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 100;
}
.Home .header .content-logo {
  background: black;
  height: 60px;
  width: 60px;
  padding: 30px;
  border-radius: 50%;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .header .content-logo.open {
  animation: logo-entre 0.5s ease;
}
.Home .header .content-logo.closed {
  animation: logo-sai 0.5s linear;
}
.Home .header .content-logo .logo.close {
  align-items: flex-end;
  position: relative;
  top: 25px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.Home .header .content-search {
  position: relative;
  top: -5px;
  cursor: pointer;
  margin-left: 0;
  transition: all 0.5s linear;
}
.Home .header .content-search.open {
  animation: search-open 0.5s linear;
  left: calc(-50vw + 350px);
  margin-left: -520px;
}
.Home .header .content-search.close {
  animation: search-open 0.5s linear reverse;
  left: 0;
  margin-left: 0;
}
.Home .header .content-search .lupa, .Home .header .content-search .search {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin-left: -40px;
  margin-bottom: -15px;
}
.Home .header .content-search .search {
  border: none;
  outline: none;
  font-family: "forum";
  font-size: 1.2em;
}
.Home .header .content-search .search.open {
  animation: input-box 0.5s linear;
  padding: 11px;
  padding-left: 20px;
  padding-right: 40px;
  width: 500px;
  border-radius: 30px;
}
.Home .header .content-search .search.close {
  animation: input-box-close 0.5s linear;
}
.Home .header .config {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.Home .header .config.close {
  visibility: hidden;
}
.Home .content-aba-config {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7333333333);
}
.Home .content-aba-config .aba-config {
  height: 100vh;
  width: 350px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  overflow: hidden;
  animation: aba 0.3s linear;
}
.Home .content-aba-config .aba-config.open {
  animation: fecha-aba 0.3s linear;
}
.Home .content-aba-config .aba-config .rote {
  text-decoration: none;
  color: black;
  font-family: "forum";
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 1px;
  white-space: nowrap;
  transition: font-size 0.3s ease;
}
.Home .content-aba-config .aba-config .rote:hover {
  border-bottom: black solid 1px;
  font-size: 1.7em;
}
.Home .login-circle {
  width: 200px;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: calc(50% - 80px);
  top: -100px;
  animation: login 2s ease;
}
.Home .login-circle img {
  background: #025206;
  border-radius: 50%;
}
.Home .login-circle p {
  color: white;
}

@keyframes aba {
  0% {
    width: 0;
  }
  100% {
    width: 350px;
  }
}
@keyframes fecha-aba {
  0% {
    width: 350px;
  }
  100% {
    width: 0;
  }
}
@keyframes search-open {
  0% {
    left: 0;
  }
  100% {
    left: calc(-50vw + 350px);
  }
}
@keyframes input-box {
  0% {
    width: 20px;
    padding: 10px;
    border-radius: 50px;
  }
  100% {
    width: 500px;
    padding: 11px;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 30px;
  }
}
@keyframes input-box-close {
  100% {
    width: 20px;
    padding: 10px;
    border-radius: 50px;
  }
  0% {
    width: 500px;
    padding: 11px;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 30px;
  }
}
@keyframes logo-entre {
  50% {
    top: -20px;
    visibility: hidden;
  }
  0%, 100% {
    top: 30px;
    visibility: visible;
  }
}
@keyframes logo-sai {
  50% {
    top: -20px;
    visibility: hidden;
  }
  0%, 100% {
    top: 30px;
    visibility: visible;
  }
}
@keyframes login {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(350px);
  }
  80% {
    transform: translateY(350px);
  }
  100% {
    transform: translateY(0);
  }
}
.box-home {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  background: black;
}
.box-home .comport-carrossel {
  height: 600px;
  width: 100vw;
  overflow: hidden;
}
.box-home .comport-carrossel .foto {
  height: 100%;
  width: 100%;
}
.box-home .comport-carrossel .foto .infos {
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -50px;
  gap: 10px;
  top: 50px;
  left: 20px;
}
.box-home .comport-carrossel .foto .infos h6 {
  font-size: 1.7em;
  color: white;
  font-family: "bebas neue";
}
.box-home .comport-carrossel .foto .infos p {
  color: white;
  font-family: "bebas neue";
}
.box-home .comport-carrossel .foto img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}
.box-home .arrows {
  height: 400px;
  width: 70px;
  background: rgba(255, 255, 255, 0.1764705882);
  position: absolute;
  left: 20px;
  top: 100px;
  z-index: 50;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box-home .arrows:hover {
  background: rgba(255, 255, 255, 0.5764705882);
}
.box-home .arrows .seta {
  height: 50px;
  width: 50px;
}
.box-home .arrows .seta.menor {
  transform: rotateY(180deg);
}
.box-home .arrows.menor {
  left: calc(100vw - 110px);
}

.content-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-login .card-login {
  height: 80vh;
  width: 40vw;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.content-login .card-login .logo {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 30px;
}
.content-login .card-login .logo img {
  height: 100%;
}
.content-login .card-login .content {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8%;
}
.content-login .card-login .content .input-box {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 10px;
}
.content-login .card-login .content .input-box input {
  height: 50px;
  border-radius: 30px;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.content-login .card-login .content .input-box label {
  margin-left: 10px;
}
.content-login .card-login .content .error {
  color: red;
  height: 1em;
  margin-bottom: -3em;
}
.content-login .card-login .content .bt {
  height: 40px;
  width: 150px;
  border-radius: 30px;
  background: black;
  color: white;
  margin-top: 50px;
  cursor: pointer;
  border: none;
}

.selection {
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
  height: 30px;
  border-radius: 20px;
}

.content-login .title {
  display: flex;
  justify-content: center;
  position: relative;
  top: 70px;
}
.content-login .error {
  position: relative;
  top: -25px;
}

.content.cad {
  position: relative;
  top: 20px;
}
.content.cad .bt.cad {
  margin-top: 0;
}

.Usuarios {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}
.Usuarios span {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}
.Usuarios span .x {
  height: 80%;
  cursor: pointer;
}
.Usuarios span .x.mais {
  transform: rotate(45deg);
}
.Usuarios .content {
  height: 90%;
  width: calc(100vw - 20%);
  padding: 10%;
}
.Usuarios .content .card-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding-right: auto;
  padding-left: auto;
}

.erro {
  color: black;
  font-size: 2em;
  width: 100%;
  position: fixed;
  bottom: 10px;
  z-index: 200;
  display: flex;
  justify-content: center;
  animation: error-message 2.5s ease-out;
}

.box-card {
  height: 300px;
  width: 220px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid rgba(178, 178, 178, 0.5568627451) 1px;
  box-shadow: 0px 0px 20px 0px rgba(178, 178, 178, 0.8705882353);
}
.box-card span {
  height: calc(25% - 20px);
  font-weight: bold;
}
.box-card .um {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-card .um .imagem {
  min-height: 80px;
  min-width: 80px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid #B2B2B2 2px;
  position: relative;
  bottom: 20px;
}
.box-card .dois {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 20px;
}
.box-card .dois .nome {
  overflow: hidden;
  min-width: 150px;
  max-width: 150px;
  max-height: 25px;
  height: 25px;
  border: solid rgba(178, 178, 178, 0.3764705882) 2px;
  box-shadow: 0px 0px 10px 0px rgba(178, 178, 178, 0.6235294118);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: lighter;
}
.box-card .tres {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  position: relative;
  bottom: 20px;
}
.box-card .tres .bt {
  background: black;
  height: 25px;
  min-width: 85px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  font-weight: lighter;
  cursor: pointer;
}
.box-card .tres .bt:hover {
  background: rgba(0, 0, 0, 0.8549019608);
}
.box-card .tres .bt.edit {
  border-radius: 30px 0 0 30px;
}
.box-card .tres .bt.dell {
  border-radius: 0 30px 30px 0;
}

@keyframes error-message {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
.filter-content-warning {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3098039216);
  z-index: 100;
}
.filter-content-warning .content-box {
  height: 450px;
  width: 700px;
  background-color: #222222;
  border-radius: 30px;
}
.filter-content-warning .content-box .logo-content {
  height: 20%;
  border-bottom: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-content-warning .content-box .content-msg {
  color: white;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.filter-content-warning .content-box .content-msg p {
  text-align: center;
}
.filter-content-warning .content-box .content-bt {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-content-warning .content-box .content-bt .bt {
  background: black;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  margin: 50px;
  border-radius: 30px;
  font-size: 1.2em;
}
.filter-content-warning .content-box .content-bt .bt:hover {
  background: rgba(0, 0, 0, 0.8549019608);
  cursor: pointer;
}

.content-forms {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.content-forms .barra {
  display: flex;
  flex-direction: row;
  height: 15%;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.content-forms .barra .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content-forms .barra .box .etapa-box {
  height: 35px;
  width: 250px;
  background: grey;
}
.content-forms .barra .box .etapa-box.um {
  border-radius: 30px 0 0 30px;
}
.content-forms .barra .box .etapa-box.dois {
  border-radius: 0 30px 30px 0;
}
.content-forms .forms {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-forms .forms label {
  margin-left: 20px;
  font-size: 1.1em;
}
.content-forms .forms .prox-bt {
  color: grey;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
}
.content-forms .forms .volt-bt {
  color: grey;
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 2em;
  cursor: pointer;
}

.box-form {
  height: 95%;
  width: 90%;
}
.box-form .content-transc {
  height: 25%;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}
.box-form .content-transc .content-label {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.box-form .content-transc .content-label input {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.box-form .content-expres {
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 10px;
  margin: auto;
}
.box-form .content-expres input {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.box-form .content-expres .content-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
}
.box-form .content-expres .content-input span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-form .content-expres .content-input span .label-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.box-form .content-expres .content-input span .label-error p {
  color: red;
}
.box-form .content-expres .content-input span #ESpalavra, .box-form .content-expres .content-input span #PTpalavra {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.box-form .content-expres .content-area {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box-form .content-expres .content-area .content-semantic {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-form .content-expres .content-area .content-semantic label {
  position: relative;
  left: 20%;
}
.box-form .content-expres .content-area .content-semantic input {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.box-form .content-expres .content-area .content-semantic span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 20px;
  height: 95%;
}
.box-form .content-expres .content-area .content-desc {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-form .content-expres .content-area .content-desc #desc {
  min-height: calc(80% - 40px);
  min-width: calc(100% - 40px);
  max-height: calc(80% - 40px);
  max-width: calc(10% - 40px);
  resize: none;
  padding: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
  font-size: 1.2em;
}

.img-content {
  height: 90%;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 100px;
}
.img-content .content-mais {
  height: 230px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
}
.img-content .content-mais .mais {
  transform: rotate(45deg);
  cursor: pointer;
  height: 80px;
}

#label-ex {
  margin-left: 16.3%;
  position: relative;
  top: 45px;
}

input[type=file] {
  display: none;
}

.custom-input {
  cursor: pointer;
  height: 230px;
  width: 230px;
  background-image: url("../drawble/image.png");
  background-size: contain;
}
.custom-input .preview:hover {
  box-shadow: 0px 0px 20px 0px rgba(255, 13, 13, 0.862745098);
}

.content-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3568627451);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.content-warning .box {
  height: 400px;
  width: 550px;
  background: white;
}
.content-warning .box .logo-box {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}
.content-warning .box .logo-box .circle-logo {
  border-radius: 50%;
  background: white;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 40px;
}
.content-warning .box .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 35%;
}
.content-warning .box .text-box .message {
  color: green;
}
.content-warning .box .text-box .quest {
  font-size: 2em;
}
.content-warning .box .button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 50%;
}
.content-warning .box .button-box .bt {
  border: none;
  border-radius: 30px;
  background: #B2B2B2;
  color: white;
  padding: 5px 10px 5px 10px;
  width: 300px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
}

.busca-content {
  min-height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.busca-content .results-box {
  width: 70vw;
  min-height: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6117647059);
}
.busca-content .results-box .view {
  height: 100px;
  width: 100px;
  display: block;
  position: relative;
  top: 100px;
  margin-top: 100px;
}
.busca-content .results-box .result {
  font-size: 1.5em;
  margin-top: 2em;
}

.card-content-word {
  width: 90%;
  height: 250px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  background: #F5F5F5;
  box-shadow: -5px 10px 20px 0px rgba(0, 0, 0, 0.6117647059);
  color: #525252;
  cursor: pointer;
}
.card-content-word:hover {
  background: #ddd9d9;
}
.card-content-word img {
  height: 100%;
  width: 25%;
  border-radius: 30px;
  object-fit: fill;
}
.card-content-word .card-text {
  height: 100%;
  width: 75%;
}
.card-content-word .card-text h6 {
  height: 20%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 2em;
}
.card-content-word .card-text p {
  height: calc(70% - 20px);
  padding: 20px;
}

.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #191d1d;
  height: 50px;
  width: 50px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.Home .contents {
  width: 75vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px 5px #000;
  font-family: "Open Sans";
  padding-bottom: 100px;
}
.Home .contents .comport-carrossel {
  height: 500px;
  width: 100%;
  overflow: hidden;
}
.Home .contents .comport-carrossel .foto {
  height: 100%;
  width: 100%;
}
.Home .contents .comport-carrossel .foto img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}
.Home .contents .description {
  width: calc(100% - 60px);
  padding: 30px;
}
.Home .contents .description .palavra {
  display: flex;
  flex-direction: column;
}
.Home .contents .description .palavra .traducao {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Home .contents .description .palavra .traducao h3 {
  font-size: 3em;
  font-weight: bold;
}
.Home .contents .description .palavra .traducao h4 {
  font-size: 2em;
  font-weight: lighter;
}
.Home .contents .description .palavra .transcricao p {
  font-size: 1.5em;
}
.Home .contents .content-desc {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 20px;
}
.Home .contents .content-desc p {
  font-size: 1.4em;
  font-weight: bold;
}
.Home .contents .content-desc .content-area-desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Home .contents .content-desc .content-area-desc .area-desc {
  border-left: solid black 3px;
  padding: 10px 0px 10px 55px;
  width: calc(98% - 57px);
  height: 80%;
}
.Home .contents .content-desc .content-area-desc .area-desc p {
  font-weight: lighter;
  font-size: 2em;
}
.Home .contents .frases {
  width: 100%;
  min-height: 200px;
  display: flex;
  margin-top: 60px;
}
.Home .contents .frases .balao {
  box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.7411764706);
  border-radius: 30px;
  padding: 30px;
  min-height: 50px;
  min-width: 200px;
  max-width: 600px;
  word-break: break-all;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home .contents .frases.s {
  justify-content: flex-end;
}
.Home .contents .frases.s .balao {
  margin-left: 0;
  margin-right: 60px;
}

.view-header {
  width: 100vw;
  height: 100px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.view-header .content-logo {
  background: black;
  height: 60px;
  width: 60px;
  padding: 30px;
  border-radius: 50%;
  position: relative;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-moder {
  width: calc(100vw - 100px);
  height: 100px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 100;
}
.header-moder .bd-type {
  background: black;
  color: white;
  border: none;
  font-size: 1.3em;
  padding-right: 20px;
}
.header-moder .search {
  border: none;
  outline: none;
  font-family: "forum";
  font-size: 1.2em;
  padding: 11px;
  padding-left: 20px;
  padding-right: 40px;
  width: 400px;
  border-radius: 30px;
}
.header-moder .not-box {
  width: 100px;
}

.content-moder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-moder .search-box {
  width: 70vw;
  min-height: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6117647059);
}

.c-bt {
  position: fixed;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  bottom: 30px;
  right: 53px;
  cursor: pointer;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6039215686);
}
.c-bt p {
  color: white;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.options-c {
  height: 150px;
  width: 130px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6039215686);
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options-c p {
  width: 100%;
  height: 33.3333333333%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.options-c p:hover {
  background: rgba(39, 37, 37, 0.3960784314);
}

.content-update-itens {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.content-update-itens .not-visible {
  width: 100px;
}
.content-update-itens .comeback {
  height: 60px;
  object-fit: fill;
  position: relative;
  top: 20px;
  cursor: pointer;
}
.content-update-itens .options-update {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-update-itens .options-update .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content-update-itens .options-update .option p {
  font-size: 1.4em;
}
.content-update-itens .options-update .option .bt-op {
  height: 50px;
  width: 50px;
  background: grey;
  cursor: pointer;
  border-radius: 20px;
}
.content-update-itens .update-content {
  height: 85%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-form {
  height: 90%;
  width: 90%;
  margin-top: 3%;
  overflow: hidden;
}
.box-form input {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.box-form .content-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
}
.box-form .content-input span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-form .content-input #ESpalavra, .box-form .content-input #PTpalavra {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.box-form .content-area {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box-form .content-area .content-semantic {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-form .content-area .content-semantic label {
  position: relative;
  left: 20%;
}
.box-form .content-area .content-semantic input {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
}
.box-form .content-area .content-semantic span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 20px;
  height: 95%;
}
.box-form .content-desc {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.box-form .content-desc #desc {
  min-height: calc(80% - 40px);
  min-width: calc(100% - 150px);
  max-height: calc(80% - 40px);
  max-width: calc(100% - 150px);
  resize: none;
  padding: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3411764706);
  font-size: 1.2em;
}

.button-save {
  height: 35px;
  width: 35px;
  background: black;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 30px;
  padding: 15px;
  cursor: pointer;
}

.content-rigth {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-rigth .box-rigth {
  background: black;
  height: 250px;
  width: 300px;
}
.content-rigth .box-rigth .circle-logo {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-rigth .box-rigth .circle-logo img {
  background: black;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
}
.content-rigth .box-rigth .message-content {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-rigth .box-rigth .message-content p {
  color: white;
  font-size: 1.2em;
}
.content-rigth .box-rigth .bt-content {
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-rigth .box-rigth .bt-content .bt {
  background: white;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 80px;
}
.content-rigth .box-rigth .bt-content .bt:hover {
  background: #7bec46;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px #7bec46;
}

.content-delete {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(34, 34, 34, 0.5215686275);
}
.content-delete .box-delete {
  background: white;
  height: 300px;
  width: 400px;
}
.content-delete .box-delete .text {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.content-delete .box-delete .text p {
  font-size: 2em;
  text-align: center;
}
.content-delete .box-delete .bt-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-delete .box-delete .bt-box .bt {
  border: none;
  border-radius: 30px;
  height: 40px;
  width: 130px;
  background: black;
  color: white;
}

/*# sourceMappingURL=index.css.map */
